build
.gradle
.idea
local.properties
*.iml
app/release/app-release.apk
app/build
app/app.iml
app/release/output-metadata.json
app/google-services.json
*#

/app/src/androidTest/java/uk/org/openseizuredetector/ServiceTestCase.java
